
.nav {
	margin-bottom: 75px;
}

.tennis {
    margin-bottom: 135px;
    position: relative;
    top: 30px;
    width: 50%;
    max-width: 776px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-right: 275px;
    border-top-left-radius: 40px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    background-color: rgba(106, 157, 214, .4);
    border-left: 5px solid #8db3df;
}

#tennisImg {
    width: 314px;
    height: 314px;
    display: inline;
    border-radius: 50%;
    border: #8db3df solid 4px;
    float: right;
    position: relative;
    left: 340px;
    bottom: 259px;
}

.tennisText {
	display: inline;
	font-family: 'Avenir Next', Avenir Next, 'Clip', 'sans-serif', 'Avenir', 'Monaco', 'Trebuchet MS';
	color: rgb(60, 60, 60);
}

/*
.tennisText p {
    width: 78%;
}*/

.swim {
    clear: both;
    width: 50%;
    position: relative;
    bottom: 130px;
    padding-left: 500px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-left: 275px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: rgba(106, 157, 214, .4);
    border-right: 5px solid #70aaed;
}

#swimImg {
    width: 314px;
    height: 314px;
    display: inline;
    border-radius: 50%;
    border: #70aaed solid 4px;
    position: relative;
    bottom: 220px;
    right: 340px;

}

.swimText {
	display: inline;
    font-family: 'Avenir Next', Avenir Next, 'Clip', 'sans-serif', 'Avenir', 'Monaco', 'Trebuchet MS';
    color: rgb(60, 60, 60);
}

.photography {
    clear: both;
    position: relative;
    bottom: 10px;
    margin-bottom: 340px;
    width: 50%;
    max-width: 776px;
    height: 192px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-right: 275px;
    border-top-left-radius: 40px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    background-color: rgba(106, 157, 214, .4);
    border-left: 5px solid rgb(77, 133, 197);
}

#photoImg {
	width: 314px;
    height: 314px;
    display: inline;
    border-radius: 50%;
    border: rgb(77, 133, 197) solid 4px;
    float: right;
    position: relative;
    left: 330px;
    bottom: 238px;
}

.photoText {
	float: left;
	display: inline;
	font-family: 'Avenir Next', Avenir Next, 'Clip', 'sans-serif', 'Avenir', 'Monaco', 'Trebuchet MS';
	color: rgb(60, 60, 60);
}

.camping {
    clear: both;
    width: 50%;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-left: 275px;
    border-top-left-radius: 90px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 90px;
    background-color: rgba(106, 157, 214, .4);
    border-right: 5px solid #356cac;
    position: relative;
    bottom: 219px;
    max-width: 776px;
    margin-bottom: 340px;
}

#campingImg {
	width: 314px;
    height: 314px;
    display: inline;
    border-radius: 50%;
    border: #356cac solid 4px;
    position: relative;
    bottom: 259px;
    right: 340px;
    float: left;
}

.campingText {
    float: right;
    display: inline;
    font-family: 'Avenir Next', Avenir Next, 'Clip', 'sans-serif', 'Avenir', 'Monaco', 'Trebuchet MS';
    color: rgb(60, 60, 60);
}

.intramural {
    clear: both;
	position: relative;
    bottom: 442px;
    margin-bottom: -300px;
    width: 50%;
    max-width: 776px;
    height: 237px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-right: 275px;
    border-top-left-radius: 40px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    background-color: rgba(106, 157, 214, .4);
    border-left: 5px solid #235693;
}

#intramuralImg {
	width: 314px;
    height: 314px;
    display: inline-block;
    border-radius: 50%;
    border: #235693 solid 4px;
    float: right;
    position: relative;
    top: -270px;
    left: 330px;
    margin-bottom: -700px;
}

.intramuralText {
	display: inline;
	font-family: 'Avenir Next', Avenir Next, 'Clip', 'sans-serif', 'Avenir', 'Monaco', 'Trebuchet MS';
	color: rgb(60, 60, 60);
}

#blurb {
	font-family: 'Avenir Next', Avenir Next, 'Clip', 'sans-serif', 'Avenir', 'Monaco', 'Trebuchet MS';
	color: rgb(60, 60, 60);
	text-align: center;
}

