.photoContainer{
	position: relative;
	width: 100%;
}

.folders {
    width: 300px;
    position: relative;
    left: 5%;
    top: 60px;
}

.images{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
    bottom: 160px;
}

.images img{
	margin-top: 40px;
}

#top {
	margin-top: 100px;
}

.nav {
	bottom: 153px;
}

