.resumeContainer {
	margin: auto;
    margin-top: 40px;
    margin-bottom: 90px;
    width: 820px;
    position: relative;
    padding: 30px;
    padding-bottom: 0px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #FFFFFF;
    border-left: 5px solid #356cac;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#resume {
	width: 100%;
}

