.resumeContainer {
	margin: auto;
    margin-top: 40px;
    margin-bottom: 90px;
    width: 820px;
    position: relative;
    padding: 30px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: rgba(106, 157, 214, .13);
    border-left: 5px solid #356cac;
}

#resume {
	width: 100%;
}

