
.header {
	font-family: 'Open Sans', 'Lato','Trebuchet MS', sans-serif;
	position: relative;
	left: 10%;
}

.nav{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	position: absolute;
	left:10%;
	right:10%;
	min-width: 80%;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'Trebuchet MS';

}

.nav h2 a:link{
	text-decoration: none;
	color: black;
}

.nav h2 a:visited{
	color: black;
}

.nav h2 a:hover{
	color: gray;
}

.nav h2 a:active{
	color: white;
}

